@font-face {
  font-family: LemonMilk;
  src: url(../media/fonts/LEMONMILK-Bold.woff2);
}

@font-face {
  font-family: Ubuntu;
  src: url(../media/fonts/Ubuntu-Regular.ttf);
}

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  background-color:#303030;
  border: 1.5px solid #504d4d;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}


a:visited, a:link{
  color: #9e9e9e;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Ubuntu, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  
}

h2 {
  font-weight: 700;
  size: 2rem;
}

label{
  font-family: Ubuntu;
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 0.7rem;
}

#formcontainer #graphicscontainer {
  flex-direction: column;
}
#formcontainer
{
  width: 62vw;
  background-color: #161515;
}

#graphicscontainer {
  color: rgb(243, 243, 243);
  background-image: url(../media/img/archee-lal-AQuzzn6V6gE-unsplash.webp);
  background-size: auto 200vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filter-red {
  filter: invert(14%) sepia(96%) saturate(3787%) hue-rotate(355deg) brightness(97%) contrast(98%);
}

#logocontainer {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 38vw;
  margin-top: 20vh;
  flex-shrink: 0;
}

#logo {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}
#mainTitle {
  font-size: 5vw;
  margin: 1rem;
}

#credits {
  font-size: 0.7rem;
}

#topFormText {
  padding: 4vw;
  padding-top: 12vh;
  width: 47vw;
}

.formText {
  font-weight: 600;
  font-size: 1.65vw;
  color: rgb(243, 243, 243);
}

#mainForm {
  box-shadow: 0.4rem 0.2rem 1rem rgb(46, 44, 44);
  background-color: #222222;
  color: rgb(243, 243, 243);
  padding: 1vw;
  padding-left: 4vw;
}

#col1, #col2 {
  display: flex;
  flex-direction: column;
}
#fields {
  display: flex;
  flex-direction: row;
  gap: 6vw;
}